<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997682602019-klsgpab45lbbcst3t9t2aoo380pagur8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997682602019-klsgpab45lbbcst3t9t2aoo380pagur8</string>
	<key>API_KEY</key>
	<string>AIzaSyCG9cpIWV5NVlO-63KoUuut2bUtIpPOl6s</string>
	<key>GCM_SENDER_ID</key>
	<string>997682602019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sjchoi.hansung.ac.kr.term-project-1971144-sjchoi</string>
	<key>PROJECT_ID</key>
	<string>ios-termproject-communityapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-termproject-communityapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997682602019:ios:b84d43e2be78758e645196</string>
</dict>
</plist>