<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-05-25T09:04:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/soojin/Desktop/ios programming/Term project/term-project-1971144-sjchoi/term-project-1971144-sjchoi.xcworkspace</string>
</dict>
</plist>
